@model IEnumerable<CaelumWeb.ViewModels.AlunoViewModel>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Endereco</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Cpf</td>
                    <td>@aluno.Endereco</td>
                    <td><a href="#" onclick="deletar(@aluno.Id)">Deletar</a></td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="window.location.href = '/Aluno/Aluno/Inserir'"> Inserir</button>
</div>
<script>
   function deletar(alunoId){
        var url = "@Url.Action("Deletar","Aluno")";
        $("a").click(function () {
            $.post(url, { id: alunoId });
        });
        window.location.href = '/aluno';
    }
</script>
